.landing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.landing button {
  text-align: center;
  padding: 10px;
  border: none;
  border-radius: 5px;
  color: #fff;
  background-color: #b8ef9c;
  font-size: 24px;
  font-weight: 600;
  cursor: pointer;
}
