.home {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 25px;
  margin-top: 50px;
}

.info-home {
  padding: 5%;
  width: 100%;
  max-width: 700px;
}

.info-home h3 {
  color: #63708f;
  text-align: center;
  font-size: 24px;
  margin-top: 2rem;
  font-weight: bold;
}

.info-home p {
  font-weight: 300;
  font-size: 18px;
  line-height: 42px;
  color: #63708f;
  font-style: italic;
}

@media screen and (max-width: 550px) {
  .info-home {
    width: 100%;
    max-width: 350px;
  }
  .info-home h3 {
    font-size: 18px;
  }
  .info-home p {
    font-size: 14px;
    line-height: 24px;
    text-align: center;
  }
}
