.navContainer {
  border-bottom: 1px solid rgb(223, 219, 219);
}
.navContainer .nav {
  padding: 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.navContainer .nav span {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}
.navContainer .nav span h2 {
  color: #000000;
}
.navContainer .nav .nav-links ul {
  list-style-type: none;
}

.navContainer .nav .nav-links ul li {
  display: flex;
  gap: 3rem;
  flex-direction: row;
}
.nav .nav-links ul li .link {
  color: #63708f;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
  line-height: 34px;
  text-decoration: none;
}

@media screen and (max-width: 550px) {
  .navContainer .nav {
    padding: 4px;
  }
  .navContainer .nav span {
    width: 100%;
    max-width: 120px;
    gap: 10px;
  }

  .navContainer .nav span h2 {
    font-size: 14px;
    color: #000000;
  }

  .navContainer .nav .nav-links ul li {
    gap: 10px;
  }
  .nav .nav-links ul li .link {
    font-size: 12px;
  }
}
